<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/otp.css">
</head>
<body>
    <div class="carimg">
        <img src="/images/black_car2.jpg" alt="" class="car">
        <h1 class="otp_logo">Journeys Wheel</h1>
    </div>
    <div class="otp_box">
        <h2>OTP</h2>
        <form action="/verifyotp" method="post">
            <div> 
                <label for="otp" style="color: white;opacity: 0.9;">Enter OTP:</label><br>
                <input type="text" placeholder="Enter the otp send to your email" id="box" name="otpvalue"><br><br><br>
            </div>
            <button class="btn"><b>Submit</b></button><br><br>
        </form>
    </div>
</body>
</html>